html, body {
  font-family: 'Overlock', monospace;
  background-color: #505050;
  margin: auto;
  max-width: 320px;
  align-items: center;
}

#container {
  /* width: 100%; */
  /* height: 600px; */
  background: white;
  border: solid;
  border-width: 2px;
  border-color: #CCCCCC;
}

h1 {
  color: #303030;
  background-color: #f0f0f0;
  padding: 0px;
  margin: 5px;
  font-size: 50px;
}

.button {
  display: inline-block;
  background: #f0f0f0;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  border: solid;
  border-width: 2px;
  border-color: #CCCCCC;
}

.line {
  width: 320px;
  margin: auto;
  text-align: center;
}

#submitButton, #bckspButton {
  font-size: 30px;
  padding: 5px 20px;
}

table {
  max-width: 400%;
  margin: auto;
}

#scoreCell {
  /* display: inline-block; */
  background: white;
  margin: 5px;
  padding: 5px;
  cursor: text;
  border: solid;
  border-width: 2px;
  border-color: blackqsdfqsdf;
  /* height: 30px; */
  width: 150px;
  margin: auto;
  text-align: center;
}

/* -- Boardgame -- */
#boardgame {
  background: orange;
  border-collapse: collapse;
  border-radius: 15px;
}

#grid tr, td {
  padding: 4px;
  /* border: 1px solid black; */
}

#grid div {
  background: #F0F0D0;
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

#grid div:hover {
  background: #D0D0C0;
}

#grid p {
  /* vertical-align: middle; */
  line-height: 1;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  padding: 0;
  margin: 12.5px;
  color: black;
}

#textBox {
  /* display: inline-block; */
  background: white;
  width: 200px;
  margin: 5px auto;
  /* padding: auto; */
  cursor: text;
  border: solid;
  border-width: 2px;
  border-color: black;
  height: 30px;
  text-align: center;
  font-size: 24px;
}

#textBox.extendable {
  color: #00FFFF;
}

#textBox.ended {
  color: #00FF00;
}

#textBox.partial {
  color: #0000FF;
}

#textBox.false {
  color: #FF0000;
}

#solutionsBox {
  background-color: #f0f0f0;
  width: 100%;
  line-height: 1.2;
  font-size: 12px;
}

.found, .notFound {
  display: inline-block;
  margin: 10px;
  width: 50px;
  /* display: block; */
  padding: 3px;
}

.found {
  background-color: green;
  color: white;
}

.notFound {
  color: gray;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #EEEEEE;
}

a:visited {
  color: #EEEEEE;
}

a:hover {
  color: gray;
}

a:active {
  color: black;
}